<html>

<table width="500" border="0" cellpadding="5">

  <tr>

    <td align="center" valign="center">
      <img src="loc.png" width="600"/>
      <br/>
      Lines of code
    </td>

    <td align="center" valign="center">
      <img src="spec_run_time.png" width="600"/>
      <br/>
      Spec runtime
    </td>

  </tr>

  <tr>

    <td align="center" valign="center">
      <img src="spec_to_prod_ratio.png" width="600"/>
      <br/>
      Spec to prod ration
    </td>

    <td align="center" valign="center">
      <img src="coverage.png" width="600"/>
      <br/>
      Coverage
    </td>

  </tr>

  <tr>

    <td align="center" valign="center">
      <img src="coverage_ratio.png" width="600"/>
      <br/>
      Coverage ratio
    </td>

    <td align="center" valign="center">
      <img src="number_of_files.png" width="600"/>
      <br/>
      Number of Files
    </td>

  </tr>

</table>

<table border="1">

  <tr>
    <th>
      Hash
    </th>
    <th>
      Commit Message
    </th>
  </tr>

  <% @table.each do |row| %>
      <tr>
        <td>
          <%= row[0] %>
        </td>
        <td>
          <%= row[1] %>
        </td>
      </tr>
  <% end %>
</table>

</html>
